/* @import url("http://fonts.cdnfonts.com/css/miracle"); */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap");

@font-face {
  font-family: "Miracle', sans-serif";
  src: url("./Miracle\ Personal\ use.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: "Miracle', sans-serif";
  list-style: none;
}
.active div {
  opacity: 1 !important;
}

a {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  gap: inherit;
  width: inherit;
}
.nav__scrolled {
  box-shadow: 0px 4px 4px rgba(236, 248, 241, 0.5);
  position: fixed !important;
  top: 0;
  z-index: 50;
  width: 100%;
  transition: all 300ms ease;
}
